a {
  text-decoration: none;
  color: black;
}
.nav a:focus {
  color: #dd4a48;
  font-weight: bold;
}
.nav {
  background-color: #c0d8c0;
  padding: 10px;
  margin-bottom: 50px;
  white-space: nowrap;
}
.content_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 2px solid #94b49f;
}
.title {
  font-size: 35px;
}
.user_list {
  font-size: 22px;
  margin-left: 30px;
}
.content_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  font-size: 24px;
}
.nav_list {
  padding-right: 20px;
  padding-left: 20px;
}
.search input {
  background-color: #c0d8c0;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  font-family: "Jua", sans-serif;
  font-size: 20px;
  width: 180px;
  outline: none;
}
.search_logo {
  font-size: 20px;
  position: relative;
  right: 5px;
  top: 5px;
}
